<h1>Actions > FollowUp</h1>

<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="empCode"class="col-sm-2 control-label">Customer ID </label>
                <div class="col-sm-10">
                    <input type="text"  ng-model="cst.empCode"  class="form-control" id="empCode" placeholder="Code">
                </div>
            </div>
            <div >
                <table class="table">
                    <thead>
                    <tr>
                        <th>Group</th>
                        <th>Installment</th>
                        <th>DueDate</th>
                        <th>Age</th>
                        <th>Amount</th>
                        <th>Panality</th>
                        <th>Total Dues</th>
                        <th>LastAction</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XX</td>
                            <td>XX</td>
                            <td>XX</td>
                            <td>XX</td>
                            <td>XX</td>
                            <td>XX</td>
                            <td>XX</td>
                            <td>XX</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="logIn()">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
